@model WebApplication1.Models.Employee

@{
    ViewBag.Title = "DeletEmployee";
}

<h2>DeletEmployee</h2>
@using (Html.BeginForm())
{
    <div>
        Empid : <input type="text" name="eid" value=@Model.EmpID readonly />
    </div>
    <div>
        Emp Name: <input type="text" name="name" value=@Model.EmpName readonly />
    </div>
    <div>
        Dept  : <input type="text" name="dept" value=@Model.Dept readonly />
    </div>
    <div>
        Desg : <input type="text" name="desg" value=@Model.Desg readonly />
    </div>
    <div>
        Salary : <input type="text" name="sal" value=@Model.Salary readonly />
    </div>
    <div>
        Salary : <input type="text" name="pid" value=@Model.projid readonly />
    </div>
    <div>
        <input type="submit" value="Delete" />
    </div>
    <div>
        @Html.ActionLink("Select Employee", "GetEmployees")
    </div>
}

